h1{
    text-align: center;
}

.paragraph1{
 color: rgb(38, 38, 158);
}
.paragraph2{
    color: rgb(227, 42, 42);
}
.flower{
    height: auto;
    width: 1400px;
 
}
.landscope{
    width: 500px;
    height: auto;
    
}
.gul{
    display: flex;
   justify-content: center;
 
}
.menzere{
    margin: 20px;
}
